/* App GUI UI stylesheet */
/* * {
    border: 1px solid #4f9bdd;
    background-color: rgb(228, 205, 178);
    color: blueviolet;
    
}

#QMainWindow {
    background: #E8F5E9;
}
#QTabWidget::pane {
    border: 1px solid #4CAF50;
    border-radius: 8px;
}
#QPushButton {
    background: #C8E6C9;
    border: 1px solid #388E3C;
    border-radius: 6px;
}
#QLabel {
    color: #222;
    font-size: 16px;
} */

